<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.6.0/dist/progressbar.js"></script>
<h2 id="user" style="display: none;"><%= current_user.id %></h2>
<div id="main-page">
	<button class="start">Start Day</button>



	<div class="progress" id="line-container" style="display: none;"></div>
    
    <div id="current-work">
      	<h1>current tasks</h1>
      	<br>
      	<h2><%=@blocks.first.category.name%></h2>
      	 <ul>
      	 	<%@user.blocks.each do |block| %>
      	 	  <li><%=Task.find(block.category.id).name %></li>
      	 	<%end%>   
      	 </ul>

      	
    </div>
</div>

<div id="settings" style="display:none;">
	<h2> SETTINGS DIV!</h2>
	<!-- mode switch -->
	<div id= "mode-switch">
		<h4 id="mode-switch-Label">Advanced Mode</h4>
		<div class="onoffswitch">
		    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
		    <label class="onoffswitch-label" for="myonoffswitch">
		        <span class="onoffswitch-inner"></span>
		        <span class="onoffswitch-switch"></span>
	  	   </label>
		</div>
	</div>

   <!-- add tasks form -->
    <div id="form-label">
    <h3>Add a new task</h3>
    <div id="tasks-form">
    	 <%= render "tasks/task" %>
    </div>
    </div>
   <!-- tasks added scrollable container -->
	<div id="tasks-label">
	<h3>Your Tasks</h3>
	
	<div id="tasks-container">
       <div class="row">
  	     <div class="col-md-5 col-md-offset-4 sortable">
           <% if @blocks.any? %>
             <%= render  partial: 'blocks', locals: {blocks: @blocks} %>
           <% else %>
              <p>No tasks found <%= link_to "Create Task", new_task_path %></p>
            <% end %>
         </div>
        </div>
	  </div>
	  </div>

   <!-- advanced mode dragable calendar -->
	<div id="calendar">
     <button>send order</button>
	</div>


</div>
</body>
