<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.6.0/dist/progressbar.js"></script>
<h2 id="user" style="display: none;"><%= current_user.id %></h2>
<div id="main-page">
	<button class="start btn btn-primary">Start Day</button>

	<%= render 'tasks/modal' %>

	<div id="current-work">
		<h2><%=@blocks.first.category.name%></h2>
		<div class="progress" id="line-container" style="display: none;"></div>
		<div id="time"></div>
	</div>	
		<div class="todo-list">
		<ul>
			<%@user.blocks.each do |block| %>
			<% block.category.tasks.each do |task| %>
			<li class="todos"><%= task.name %></li>
			<% end %>
			<%end%>
		</ul>
		</div>
	
</div>

<div id="settings" style="display:none;">

	<!-- mode switch -->
	<div class="user-config">
	<div id="mode-switch" class="blocks">
		<h4 id="mode-switch-Label">Advanced Mode</h4>
		<div class="onoffswitch">
			<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
			<label class="onoffswitch-label" for="myonoffswitch">
				<span class="onoffswitch-inner"></span>
				<span class="onoffswitch-switch"></span>
			</label>
		</div>
	</div>

	<!-- add tasks form -->
	<div id="form-button" class="blocks">
		<button type="button" class="btn btn-default">Add Task</button>
		<%=render "tasks/task"%>
	</div>
	</div>
	<!-- tasks added scrollable container -->
	<div id="tasks-label">
		<h3>Your Tasks</h3>
			<div class="row">
				<div class="col-xs-12 .col-sm-6 .col-lg-8 sortable">
					<% if @blocks.any? %>
					<%= render  partial: 'blocks', locals: {blocks: @blocks} %>
					<% else %>
					<p>No tasks found <%= link_to "Create Task", new_task_path %></p>
					<% end %>
				</div>
			</div>
		</div>


	<!-- advanced mode dragable calendar -->
	<div id="calendar">

	</div>


</div>
</body>
