<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/1.0.0/dist/progressbar.js"></script>
<h2 id="user" style="display: none;"><%= current_user.id %></h2>
<div id="main-page">
	<button class="start btn btn-primary">Start Day</button>

	

	<div id="current-work">
		<div id="animation-container">
			<div id="time"></div>
		</div>
		<div class="progress" id="line-container" style="display: none;"></div>
		<div id="here">
			
		</div>
	</div>
		<div class="todo-list">
		   <span id="res" style="display:none;"><%= render "resources/resume_resources"%></span>
		   <span id="reach" style="display:none;"><%= render "resources/outreach_resources"%></span>
		   <span id="presence" style="display:none;"><%= render "resources/web_presence"%></span>
		</div>
	<div id="resources">
		<button id="resume">Resume Resources</button>
		<button id="outreach">Outreach Resources</button>
		<button id="webpresence">Web Presence Resources</button>
		<button id="algorithms">Algorithm Resources</button>
	</div>
</div>

<div id="settings" style="display:none;">

	<!-- mode switch -->
	<div class="user-config">
	<div id="mode-switch" class="blocks">
		<h4 id="mode-switch-Label">Advanced Mode</h4>
		<div class="onoffswitch">
			<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
			<label class="onoffswitch-label" for="myonoffswitch">
				<span class="onoffswitch-inner"></span>
				<span class="onoffswitch-switch"></span>
			</label>
		</div>
	</div>

	<!-- add tasks form -->
	<div id="form-button" class="blocks">
		<button id ="createTask" type="button" class="btn btn-default" >Add Task</button>
		
	</div>
	</div>
	<!-- tasks added scrollable container -->
	<div id="tasks-label">
		<h3>Your Tasks</h3>
			<div class="row">
				<div class="col-xs-12 .col-sm-6 .col-lg-8 sortable">
					<% if @blocks.any? %>
					<%= render  partial: 'blocks', locals: {blocks: @blocks} %>
					<% else %>
					<p>No tasks found <%= link_to "Create Task", new_task_path %></p>
					<% end %>
				</div>
			</div>
		</div>


	<!-- advanced mode dragable calendar -->
	<div id="calendar">

	</div>


</div>

<%= render 'tasks/modal' %>
<%= render 'tasks/task' %>
<%= render 'tasks/complete' %>
</body>
