<!DOCTYPE html>
<html>
  <head>
    <title>Jobio</title>
    <%= csrf_meta_tags %>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Condiment|Eczar:500|Fruktur|Indie+Flower|Miniver|Molle:400i|Mr+Dafoe|Mrs+Sheppards|Oregano:400i|Pacifico|Rubik+One|Shrikhand|Stalinist+One" rel="stylesheet">

<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/1.0.0/dist/progressbar.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <%= render "layouts/nav"%>
  <body>

    <%= yield %>
  </body>
</html>
